body{
background-image:url("background1.jpg");
background-size:cover;
background-repeat:no-repeat;
padding:30px;
}









p{
text-align:justify;
}

figcaption{
text-align:center;
color:#000099;
}

.pimg{
height:150px;
width:150px;
margin-left:auto;
margin-right:auto;
border-radius:8px;
-webkit-transition: width 2s, height 2s;
transition :width 2s, height 2s ease-in-out;
}
.pimg:hover{
transform : scale(1.2);
}

th{
font-size:20px;
font-weight:bold;
text-align:center;

}


table{
margin-left:auto;
margin-right:auto;

}

a.dish:hover{background-color:Black;}



.heading{
text-align:center;
font-style:italic;
font-weight:bold;
}



h4{
font-style:italic;
}
.a{vertical-align: middle;  color:#000000; padding:10px; font-weight:bold; font-size:10px;}
   
 .b:hover { background-color:#000000;padding:10px;}

s{height:10px;}


